<form class="clr-form" [formGroup]="form" (ngSubmit)="validateForm()">
    <div class="clr-form-control clr-row">
        <label for="example" class="clr-control-label">Nome</label>
        <div class="clr-control-container clr-col-sm-12 clr-col-md-5">
            <div class="clr-input-wrapper" 
            [ngClass]="{ 'clr-error': form.controls['name'].invalid && (form.controls['name'].touched || form.controls['name'].dirty) }">
                <input type="text" id="input-name" name="name" class="clr-input" formControlName="name">
                <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
            </div>
            <span class="clr-subtext">campo obrigatório</span>
        </div>
    </div>

    <div class="clr-form-control clr-row">
        <label for="example" class="clr-control-label">Email</label>
        <div class="clr-control-container clr-col-sm-12 clr-col-md-5">
            <div class="clr-input-wrapper"
            [ngClass]="{ 'clr-error': form.controls['email'].invalid && (form.controls['email'].touched || form.controls['email'].dirty) }">
            <input type="text" id="input-email" name="email" class="clr-input" formControlName="email">
                <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
            </div>
            <span class="clr-subtext">campo obrigatório</span>
        </div>
    </div>

    <div class="clr-form-control clr-row">
        <clr-radio-container clrInline>
            <label class="clr-control-label">Genêro</label>
            <clr-radio-wrapper>
                <input type="radio" clrRadio name="gender" [value]="gender.FEMININE" formControlName="gender"/>
                <label>Feminino</label>
            </clr-radio-wrapper>
            <clr-radio-wrapper>
                <input type="radio" clrRadio name="gender" [value]="gender.MALE" formControlName="gender"/>
                <label>Masculino</label>
            </clr-radio-wrapper>
            <clr-control-error>campo obrigatório</clr-control-error>
        </clr-radio-container>
    </div>

    <div class="clr-form-control clr-row">
        <clr-toggle-wrapper>
            <input type="checkbox" clrToggle value="option1" name="status" formControlName="status" />
            <label>Status</label>
        </clr-toggle-wrapper>
    </div>

    <div class="clr-form-control clr-row">
        <div class="clr-col">
            <button class="btn btn-primary" type="submit" id="btn-submit">Salvar</button>
            <button class="btn btn-outline">Cancelar</button>
        </div>
    </div>
</form>