<section class="header-page">
<h2 class="header-page__title">Usuários</h2>
    <button class="btn btn-primary">
        Usuário
        <clr-icon shape="plus"></clr-icon>
    </button>
</section>
<table class="table">
    <thead>
        <tr>
            <th class="left">Nome</th>
            <th class="left">Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="left">Everton Roberto</td>
            <td class="left">everton_roliveira@outlook.com</td>
            <td>

            </td>
        </tr>
        <tr>
            <td class="left">Mauricio Sei Lá</td>
            <td class="left">m.seila@gamil.com</td>
            <td>
                
            </td>
        </tr>
        <tr>
            <td class="left">Dorinha e suas Vestes</td>
            <td class="left">dorinha.belas.vestimentas@email.com</td>
            <td>
                
            </td>
        </tr>
        <tr>
            <td class="left">Thais Alguma Coisa</td>
            <td class="left">thais.alguma@outlook.com</td>
            <td>
                
            </td>
        </tr>
    </tbody>
</table>