.header-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__title {
        margin: 0;
    }
}

.table {
    tr {
        td {
            vertical-align: baseline;
            .btn {
                margin: 0;
                &:first-of-type {
                    margin-right: 10px;
                }
            }
        }
    }
}