<section class="header-page">
<h2 class="header-page__title">Usuários</h2>
    <button class="btn btn-primary" title="Adicionar usuário">
        Usuário
        <clr-icon shape="plus"></clr-icon>
    </button>
</section>
<table class="table">
    <thead>
        <tr>
            <th class="left">Nome</th>
            <th class="left">Email</th>
            <th class="left">Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="left">Everton Roberto</td>
            <td class="left">everton_roliveira@outlook.com</td>
            <td class="left">Ativo</td>
            <td>
                <button type="button" class="btn btn-outline btn-icon btn-sm" aria-label="editar" title="Editar">
                    <clr-icon shape="note"></clr-icon>
                </button>
                <button class="btn btn-danger-outline btn-icon btn-sm" aria-label="deletar" title="Deletar">
                    <clr-icon shape="trash"></clr-icon>
                </button>
            </td>
        </tr>
        <tr>
            <td class="left">Mauricio Sei Lá</td>
            <td class="left">m.seila@gamil.com</td>
            <td class="left">Inativo</td>
            <td>
                <button type="button" class="btn btn-outline btn-icon btn-sm" aria-label="editar" title="Editar">
                    <clr-icon shape="note"></clr-icon>
                </button>
                <button class="btn btn-danger-outline btn-icon btn-sm" aria-label="deletar" title="Deletar">
                    <clr-icon shape="trash"></clr-icon>
                </button>
            </td>
        </tr>
        <tr>
            <td class="left">Dorinha e suas Vestes</td>
            <td class="left">dorinha.belas.vestimentas@email.com</td>
            <td class="left">Ativo</td>
            <td>
                <button type="button" class="btn btn-outline btn-icon btn-sm" aria-label="editar" title="Editar">
                    <clr-icon shape="note"></clr-icon>
                </button>
                <button class="btn btn-danger-outline btn-icon btn-sm" aria-label="deletar" title="Deletar">
                    <clr-icon shape="trash"></clr-icon>
                </button>
            </td>
        </tr>
        <tr>
            <td class="left">Thais Alguma Coisa</td>
            <td class="left">thais.alguma@outlook.com</td>
            <td class="left">Ativo</td>
            <td>
                <button type="button" class="btn btn-outline btn-icon btn-sm" aria-label="editar" title="Editar">
                    <clr-icon shape="note"></clr-icon>
                </button>
                <button class="btn btn-danger-outline btn-icon btn-sm" aria-label="deletar" title="Deletar">
                    <clr-icon shape="trash"></clr-icon>
                </button>
            </td>
        </tr>
    </tbody>
</table>